header
  .container
    .header-top
      div(style='display: inline-block')
        ul.hamburger(v-on:click='openMenu()')
          li.bar.bar-1
          li.bar.bar-2
          li.bar.bar-3
      router-link(to='/')
        h1
          | CYBER
          small bit
          | NEWS
      button#search_mobile_button.search_button.hide_desktop(@click='mobileSearchWindow')
        i.icon-search
      form.header-search(@submit.prevent="processSearch")
        input.search-field(type='text', name='q'
          placeholder='search site'
          autocomplete='off'
          autofocus='')
        button.search_button(type='submit')
          i.icon-search
      #search-mobile
        span#search-mobile-close X
        form(@submit.prevent="mobileSearch")
          input.search-field-mobile(type='text'
            name='q'
            placeholder='search site'
            autocomplete='off'
            autofocus='')
#side-menu
  .menu-top
    i#close-button.close-menu.icon-cancel(@click='closeMenu')
  nav.header-menu
    ul.category-list
      li.menu-item
        router-link.nav-link(to='/', @click.native='closeMenu', exact) home
      li.menu-item
        router-link.nav-link(to='/category/infosec', @click.native='closeMenu') infosec
      li.menu-item
        router-link.nav-link(to='/category/linux', @click.native='closeMenu') linux
      li.menu-item
        router-link.nav-link(to='/category/developer', @click.native='closeMenu') developer
      li.menu-item
        router-link.nav-link(to='/category/tech', @click.native='closeMenu') tech
      li.menu-item
        router-link.nav-link(to='/all-sites', @click.native='closeMenu') all sites    