header#header         
  .menu-top
    nuxt-link(to='/')
      h1 CYBER
        small bit
        | NEWS
    div(style='display: inline-block')
      ul.hamburger(v-on:click='moveHeader()')
        li.bar.bar-1
        li.bar.bar-2
        li.bar.bar-3
  .settings    
    i.icon-th(v-show="$store.state.view.mode === 'card'", 
      style="color: grey", 
      title="Card view selected")
    i.icon-th.not-active(@click="$store.state.view.mode = 'card'",
      v-show="$store.state.view.mode === 'list'",
      title="Switch to card view")
    i.icon-th-list(v-show="$store.state.view.mode === 'list'", 
      style="color: grey",
      title="List view selected")
    i.icon-th-list.not-active(@click="$store.state.view.mode = 'list'", 
      v-show="$store.state.view.mode === 'card'",
      title="Switch to list view")        
  nav.header-menu
    ul.category-list   
      li.menu-item
        nuxt-link.nav-link(to='/', @click.native='closeMenu', exact) 
          i.icon-right-open.cat-list
          | latest
      li.menu-item
        nuxt-link.nav-link(to='/category/developer', @click.native='closeMenu') 
          i.icon-right-open.cat-list        
          | developer
      li.menu-item
        nuxt-link.nav-link(to='/category/tech', @click.native='closeMenu') 
          i.icon-right-open.cat-list    
          | tech
      li.menu-item
        nuxt-link.nav-link(to='/category/linux', @click.native='closeMenu') 
          i.icon-right-open.cat-list        
          | linux
      li.menu-item
        nuxt-link.nav-link(to='/category/infosec', @click.native='closeMenu') 
          i.icon-right-open.cat-list        
          | infosec                        
      li.menu-item
        nuxt-link.nav-link(to='/website', @click.native='closeMenu') 
          i.icon-right-open.cat-list        
          | sites list